.name{
    color: blue;
    font-weight: 600;
}
.id{
    font-weight: bold;
    span{
        color: blue;
    }
}
body{
    background-color: lightgray;
}
.card-comp{
    width: 200px;
    margin:10px;

}
@media screen and (min-width:1025px) and (max-width:1440px){
    .card-comp{
        width: 190px;
        
    
    }
}
